Repository au-heartbeat/HeartBeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-building-for-frontend, check-building-for-backend

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]

repos:
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: sh -c 'cd frontend && npm run lint'
        language: system
        stages:
          - pre-commit
      - id: ts-file-check
        name: TSC file check
        entry: sh -c 'cd frontend && npm run tsc-file-check'
        language: system
        stages:
          - pre-commit
      - id: ts-type-check
        name: TS type check
        entry: sh -c 'cd frontend && npm run type-check'
        language: system
        stages:
          - pre-commit
      - id: px-check
        name: px check
        entry: ./ops/check.sh px
        language: script
        stages:
          - pre-commit
      - id: rgba-check
        name: rgba check
        entry: ./ops/check.sh rgba
        language: script
        stages:
          - pre-commit
      - id: hex-check
        name: hex check
        entry: ./ops/check.sh hex
        language: script
        stages:
          - pre-commit
      - id: prettier
        name: Prettier
        entry: sh -c 'cd frontend && npx prettier --check .'
        language: system
        stages:
          - pre-commit
      - id: test-check
        name: Test coverage for the whole project
        entry: sh -c 'cd frontend && pnpm run coverage:silent'
        language: system
        pass_filenames: false
        require_serial: true
        stages:
          - pre-push
      - id: audit-check
        name: Vulnerability check
        entry: sh -c 'cd frontend && pnpm run audit'
        language: system
        pass_filenames: false
        stages:
          - pre-push
      - id: license-check
        name: License compliance check
        entry: sh -c 'cd frontend && pnpm run license-compliance'
        language: system
        pass_filenames: false
        stages:
          - pre-push
      - id: tag-check
        name: tag check
        entry: ./ops/git-hooks/pre-tag.sh
        language: script
        stages:
          - pre-push
      - id: check-building-for-frontend
        name: Check building for frontend
        entry: ./ops/git-hooks/build-check.sh frontend
        files: ^frontend/
        language: script
        pass_filenames: false
        require_serial: true
        stages:
          - pre-push
      - id: check-building-for-backend
        name: Check building for backend
        entry: ./ops/git-hooks/build-check.sh backend
        files: ^backend/
        language: script
        pass_filenames: false
        require_serial: true
        stages:
          - pre-push

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: ops/infra/cloudformation.yml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        stages:
          - pre-commit

ADM-999 [backend]: fix comments
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/pipeline/buildkite/CachePageServiceTest.java
Due: check-building-for-backend

ADM-999 [backend][docs]: change the api for the repo
  backend/src/main/java/heartbeat/client/dto/codebase/github/ReposInfoDTO.java
  backend/src/main/java/heartbeat/controller/source/SourceController.java
  backend/src/main/java/heartbeat/controller/source/dto/RepoRequest.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/controller/source/SourceControllerTest.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
  docs/src/content/docs/en/spikes/tech-spikes-github-api-for-pull-request-info-by-token.mdx
Due: check-building-for-backend

ADM-999 [backend][frontend]: change the api for the repo
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/src/clients/sourceControl/SourceControlClient.ts
  frontend/src/clients/sourceControl/dto/request.ts
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend, check-building-for-backend

ADM-999 [backend][frontend]: fix test and format
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
  frontend/__tests__/client/SourceControlClient.test.ts
Due: check-building-for-frontend, check-building-for-backend

ADM-999 [frontend]: change None to Other
  frontend/__tests__/containers/ConfigStep/ConfigStep.test.tsx
  frontend/__tests__/containers/ConfigStep/PipelineTool.test.tsx
  frontend/__tests__/containers/MetricsStep/MetricsStep.test.tsx
  frontend/src/constants/resources.ts
  frontend/src/containers/ConfigStep/Form/FormSelect.tsx
  frontend/src/containers/ConfigStep/Form/literal.ts
  frontend/src/containers/ConfigStep/PipelineTool/index.tsx
  frontend/src/containers/MetricsStep/index.tsx
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

ADM-999 [frontend][backend]: try to fix sonar issues
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
  frontend/src/hooks/useGetSourceControlConfigurationOrganizationEffect.tsx
Due: check-building-for-frontend, check-building-for-backend

ADM-999 [frontend]: try to fix sonar issues
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-999 [docs]: change the docs
  docs/src/content/docs/en/issue-solutions/solution-of-e2e-timed-issue.mdx
Due: none

ADM-999 [frontend]: fix a bug
  frontend/src/context/Metrics/metricsSlice.ts
Due: check-building-for-frontend

ADM-999 [frontend]: fix e2e and sonar
  frontend/e2e/fixtures/create-new/metrics-step.ts
  frontend/e2e/fixtures/import-file/select-none-config.ts
  frontend/e2e/fixtures/input-files/multiple-done-config-file.template.json
  frontend/e2e/fixtures/input-files/select-none-in-pipeline-tool-configuration.template.json
  frontend/e2e/pages/metrics/metrics-step.ts
  frontend/e2e/specs/major-path/import-project-from-file.spec.ts
  frontend/src/clients/sourceControl/dto/response.ts
  frontend/src/components/Metrics/MetricsStep/DeploymentFrequencySettings/PresentationForErrorCases/index.tsx
  frontend/src/containers/MetricsStep/Crews/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
Due: check-building-for-frontend

ADM-999 [frontend]: fix e2e
  frontend/e2e/pages/metrics/config-step.ts
  frontend/e2e/pages/metrics/metrics-step.ts
  frontend/e2e/specs/major-path/create-a-new-project.spec.ts
  frontend/e2e/specs/side-path/config-select-one-metrics.spec.ts
Due: check-building-for-frontend

ADM-999 [frontend][backend]: try to fix e2e test
  frontend/e2e/pages/metrics/metrics-step.ts
Due: check-building-for-frontend

ADM-999 [frontend][backend]: try to fix e2e test (#1593)
  frontend/e2e/pages/metrics/metrics-step.ts
Due: check-building-for-frontend

ADM-999 [frontend][backend]: fix e2e test and change the logic
  frontend/__tests__/context/metricsSlice.test.ts
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/context/Metrics/metricsSlice.ts
  frontend/src/context/config/configSlice.ts
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationOrganizationEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-999 [frontend][backend]: fix e2e test and change the logic (#1594)
  frontend/__tests__/context/metricsSlice.test.ts
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/context/Metrics/metricsSlice.ts
  frontend/src/context/config/configSlice.ts
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationOrganizationEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-999 [frontend]: fix bug and fix e2e test
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlMetricSelection.test.tsx
  frontend/__tests__/context/metricsSlice.test.ts
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/import-file/unhappy-path-file.ts
  frontend/e2e/fixtures/input-files/unhappy-path-config-file.template.json
  frontend/src/containers/MetricsStep/Crews/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/context/Metrics/metricsSlice.ts
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-999 [frontend]: fix bug and fix e2e test (#1595)
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlMetricSelection.test.tsx
  frontend/__tests__/context/metricsSlice.test.ts
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/import-file/unhappy-path-file.ts
  frontend/e2e/fixtures/input-files/unhappy-path-config-file.template.json
  frontend/src/containers/MetricsStep/Crews/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/context/Metrics/metricsSlice.ts
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-999 [docs]: update readme
  README.md
Due: none

ADM-999 [frontend]: fix sonar issue
  frontend/src/context/Metrics/metricsSlice.ts
Due: check-building-for-frontend

ADM-999 [frontend]: change the loading logic
  frontend/__tests__/context/configSlice.test.ts
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationCrewEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/context/Metrics/metricsSlice.ts
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationOrganizationEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
  frontend/src/hooks/useVerifySourceControlTokenEffect.ts
Due: check-building-for-frontend

ADM-999 [frontend]: fix e2e
  frontend/e2e/fixtures/import-file/chart-step-data.ts
  frontend/e2e/fixtures/input-files/charting-unhappy-path-config-file.template.json
  frontend/e2e/pages/metrics/metrics-step.ts
Due: check-building-for-frontend

ADM-999 [frontend][docs]: update readme and fix sonar issue (#1596)
  README.md
  frontend/__tests__/context/configSlice.test.ts
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationCrewEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/e2e/fixtures/import-file/chart-step-data.ts
  frontend/e2e/fixtures/input-files/charting-unhappy-path-config-file.template.json
  frontend/e2e/pages/metrics/metrics-step.ts
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/context/Metrics/metricsSlice.ts
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationOrganizationEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
  frontend/src/hooks/useVerifySourceControlTokenEffect.ts
Due: check-building-for-frontend

ADM-999 [frontend][backend]: fix bug
  backend/src/main/java/heartbeat/service/pipeline/buildkite/CachePageService.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/pipeline/buildkite/CachePageServiceTest.java
  frontend/src/containers/ConfigStep/DateRangePicker/DateRangePickerGroup.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/context/Metrics/metricsSlice.ts
  frontend/src/hooks/useVerifySourceControlTokenEffect.ts
Due: check-building-for-frontend, check-building-for-backend

ADM-999 [frontend][backend]: fix bug (#1597)
  backend/src/main/java/heartbeat/service/pipeline/buildkite/CachePageService.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/pipeline/buildkite/CachePageServiceTest.java
  frontend/src/containers/ConfigStep/DateRangePicker/DateRangePickerGroup.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/context/Metrics/metricsSlice.ts
  frontend/src/hooks/useVerifySourceControlTokenEffect.ts
Due: check-building-for-frontend, check-building-for-backend

ADM-999 [frontend][backend]: fix the error path
  backend/src/main/java/heartbeat/service/pipeline/buildkite/CachePageService.java
  backend/src/test/java/heartbeat/service/pipeline/buildkite/CachePageServiceTest.java
  frontend/src/constants/resources.ts
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend, check-building-for-backend

ADM-999 [frontend][backend]: fix the test
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlConfiguration.test.tsx
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlMetricSelection.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationCrewEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
Due: check-building-for-frontend

ADM-1003 [backend]: get lead time data for source control
  backend/src/main/java/heartbeat/client/GitHubFeignClient.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/LeadTime.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/PagePullRequestInfo.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/PullRequestInfo.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/PullRequestInfoDTO.java
  backend/src/main/java/heartbeat/config/CacheConfig.java
  backend/src/main/java/heartbeat/controller/report/dto/request/CodeBase.java
  backend/src/main/java/heartbeat/controller/report/dto/request/CodebaseSetting.java
  backend/src/main/java/heartbeat/service/pipeline/buildkite/CachePageService.java
  backend/src/main/java/heartbeat/service/report/GenerateReporterService.java
  backend/src/main/java/heartbeat/service/report/calculator/model/FetchedData.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/main/java/heartbeat/service/source/github/model/PullRequestFinishedInfo.java
  backend/src/test/java/heartbeat/service/pipeline/buildkite/CachePageServiceTest.java
  backend/src/test/java/heartbeat/service/report/GenerateReporterServiceTest.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
  docs/src/content/docs/en/spikes/tech-spikes-github-api-for-pull-request-info-by-token.mdx
Due: check-building-for-backend

ADM-1003 [frontend]: fix the next button in the metrics page
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

ADM-999 [frontend][backend]: fix the error path (#1598)
  backend/src/main/java/heartbeat/service/pipeline/buildkite/CachePageService.java
  backend/src/test/java/heartbeat/service/pipeline/buildkite/CachePageServiceTest.java
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlConfiguration.test.tsx
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlMetricSelection.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationCrewEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/src/constants/resources.ts
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend, check-building-for-backend

ADM-1003 [frontend]: fix the request in the report page
  frontend/__tests__/fixtures.ts
  frontend/src/clients/report/dto/request.ts
  frontend/src/containers/ReportStep/index.tsx
Due: check-building-for-frontend

ADM-1003 [backend]: fix backend test
  backend/src/main/java/heartbeat/client/dto/codebase/github/PullRequestInfo.java
  backend/src/main/java/heartbeat/service/report/GenerateReporterService.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
Due: check-building-for-backend

ADM-937 [backend]: fix test and sonar issue
  backend/src/main/java/heartbeat/client/dto/codebase/github/SourceControlLeadTime.java
  backend/src/main/java/heartbeat/service/report/calculator/model/FetchedData.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/report/GenerateReporterServiceTest.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
Due: check-building-for-backend

ADM-1003 [backend]: fix backend and finish test coverage
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeForChanges.java
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeForChangesOfSourceControl.java
  backend/src/main/java/heartbeat/service/report/GenerateReporterService.java
  backend/src/main/java/heartbeat/service/report/calculator/LeadTimeForChangesCalculator.java
  backend/src/main/java/heartbeat/service/report/calculator/model/AverageLeadTime.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/report/calculator/CalculateLeadTimeForChangesTest.java
Due: check-building-for-backend

ADM-1003 [backend]: format
  backend/src/test/java/heartbeat/service/report/calculator/CalculateLeadTimeForChangesTest.java
Due: check-building-for-backend

ADM-1003 [backend]: save source control data for share api
  backend/src/main/java/heartbeat/controller/report/dto/response/ShareApiDetailsResponse.java
  backend/src/main/java/heartbeat/service/report/ReportService.java
  backend/src/main/java/heartbeat/service/report/SavedRequestInfo.java
  backend/src/test/java/heartbeat/service/report/ReportServiceTest.java
Due: check-building-for-backend

ADM-1003 [frontend]: change the frontend data and style
  frontend/__tests__/components/Common/ReportGrid/ReportCard.test.tsx
  frontend/__tests__/containers/ReportStep/DoraMetrics.test.tsx
  frontend/__tests__/containers/ReportStep/ReportDetail/dora.test.tsx
  frontend/__tests__/containers/ReportStep/ReportStep.test.tsx
  frontend/__tests__/fixtures.ts
  frontend/__tests__/hooks/reportMapper/leadTimeForChanges.test.tsx
  frontend/src/clients/report/ReportClient.ts
  frontend/src/clients/report/dto/response.ts
  frontend/src/components/Common/ReportDetailTableContainsSubtitle/index.tsx
  frontend/src/components/Common/ReportGrid/ReportCard/index.tsx
  frontend/src/components/Common/ReportGrid/ReportCardItem/index.tsx
  frontend/src/components/Common/ReportGrid/index.tsx
  frontend/src/constants/resources.ts
  frontend/src/containers/ReportStep/DoraMetrics/index.tsx
  frontend/src/containers/ReportStep/DoraMetricsChart/index.tsx
  frontend/src/containers/ReportStep/ReportContent/index.tsx
  frontend/src/containers/ReportStep/ReportDetail/dora.tsx
  frontend/src/containers/ReportStep/index.tsx
  frontend/src/containers/ShareReport/index.tsx
  frontend/src/hooks/reportMapper/leadTimeForChanges.ts
  frontend/src/hooks/useShareReportEffect.ts
Due: check-building-for-frontend
