Repository au-heartbeat/HeartBeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-building-for-frontend, check-building-for-backend

check-building-for-frontend:
  name: Check building for frontend
  entry: ./ops/git-hooks/build-check.sh frontend
  language: script
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

check-building-for-backend:
  name: Check building for backend
  entry: ./ops/git-hooks/build-check.sh backend
  language: script
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

fix: security
  .gitleaksignore
Due: none

fix: test coverage
  .github/workflows/build-and-deploy.yml
  frontend/src/containers/ConfigStep/SourceControl/index.tsx
Due: check-building-for-frontend

fix: disalbe frontend-check
  .github/workflows/build-and-deploy.yml
Due: none

fix: pipeline
  .github/workflows/build-and-deploy.yml
Due: none

fix: add ut for backend
  backend/src/test/java/heartbeat/service/pipeline/buildkite/BuildKiteServiceTest.java
Due: check-building-for-backend

feat: enable mise to control the langauage version (#1700)
  .github/workflows/build-and-deploy.yml
  .gitleaksignore
  .pre-commit-config.yaml
  backend/mise.toml
  backend/src/test/java/heartbeat/service/pipeline/buildkite/BuildKiteServiceTest.java
  frontend/__tests__/containers/ConfigStep/Form/schema.test.ts
  frontend/__tests__/containers/ConfigStep/SourceControl.test.tsx
  frontend/mise.toml
  frontend/pnpm-workspace.yaml
  frontend/src/containers/ConfigStep/SourceControl/index.tsx
Due: check-building-for-frontend, check-building-for-backend

Path conditions:
  check-building-for-frontend: any of: ^frontend/
  check-building-for-backend: any of: ^backend/
