Repository au-heartbeat/HeartBeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-building-for-frontend, check-building-for-backend

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]

repos:
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: sh -c 'cd frontend && npm run lint'
        language: system
        stages:
          - pre-commit
      - id: ts-file-check
        name: TSC file check
        entry: sh -c 'cd frontend && npm run tsc-file-check'
        language: system
        stages:
          - pre-commit
      - id: ts-type-check
        name: TS type check
        entry: sh -c 'cd frontend && npm run type-check'
        language: system
        stages:
          - pre-commit
      - id: px-check
        name: px check
        entry: ./ops/check.sh px
        language: script
        stages:
          - pre-commit
      - id: rgba-check
        name: rgba check
        entry: ./ops/check.sh rgba
        language: script
        stages:
          - pre-commit
      - id: hex-check
        name: hex check
        entry: ./ops/check.sh hex
        language: script
        stages:
          - pre-commit
      - id: prettier
        name: Prettier
        entry: sh -c 'cd frontend && npx prettier --check .'
        language: system
        stages:
          - pre-commit
      - id: test-check
        name: Test coverage for the whole project
        entry: sh -c 'cd frontend && pnpm run coverage:silent'
        language: system
        pass_filenames: false
        require_serial: true
        stages:
          - pre-push
      - id: audit-check
        name: Vulnerability check
        entry: sh -c 'cd frontend && pnpm run audit'
        language: system
        pass_filenames: false
        stages:
          - pre-push
      - id: license-check
        name: License compliance check
        entry: sh -c 'cd frontend && pnpm run license-compliance'
        language: system
        pass_filenames: false
        stages:
          - pre-push
      - id: tag-check
        name: tag check
        entry: ./ops/git-hooks/pre-tag.sh
        language: script
        stages:
          - pre-push
      - id: check-building-for-frontend
        name: Check building for frontend
        entry: ./ops/git-hooks/build-check.sh frontend
        files: ^frontend/
        language: script
        pass_filenames: false
        require_serial: true
        stages:
          - pre-push
      - id: check-building-for-backend
        name: Check building for backend
        entry: ./ops/git-hooks/build-check.sh backend
        files: ^backend/
        language: script
        pass_filenames: false
        require_serial: true
        stages:
          - pre-push

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: ops/infra/cloudformation.yml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        stages:
          - pre-commit

ADM-999 [frontend]: fix the error style
  frontend/src/clients/sourceControl/SourceControlClient.ts
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-999 [frontend]: fix frontend test
  frontend/__tests__/client/SourceControlClient.test.ts
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlConfiguration.test.tsx
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlMetricSelection.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationCrewEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/src/components/Metrics/MetricsStep/DeploymentFrequencySettings/PresentationForErrorCases/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
Due: check-building-for-frontend

fix-e2e-1 [frontend]: fix e2e (#1605)
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240819-20240825.csv
  frontend/e2e/fixtures/import-file/calculate-with-holiday-config-file.ts
  frontend/e2e/fixtures/import-file/metric-with-holiday-data.csv
  frontend/e2e/fixtures/import-file/pipeline-with-holiday-data.csv
  frontend/e2e/fixtures/input-files/calculate-with-holiday-config-file.template.json
  frontend/e2e/pages/metrics/report-step.ts
  frontend/e2e/specs/major-path/import-project-from-file.spec.ts
  frontend/e2e/utils/download.ts
  frontend/scripts/generate-config-files.sh
Due: check-building-for-frontend

ADM-999 [frontend]: fix sonar issues
  frontend/src/components/Metrics/MetricsStep/DeploymentFrequencySettings/PresentationForErrorCases/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/hooks/useGetPipelineToolInfoEffect.ts
Due: check-building-for-frontend

ADM-999 [frontend]: fix test
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/PresentationForErrorCases.test.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
Due: check-building-for-frontend

ADM-999 [frontend]: fix frontend error when get data error in the metrics page (#1606)
  frontend/__tests__/client/SourceControlClient.test.ts
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/PresentationForErrorCases.test.tsx
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlConfiguration.test.tsx
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlMetricSelection.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationCrewEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/src/clients/sourceControl/SourceControlClient.ts
  frontend/src/components/Metrics/MetricsStep/DeploymentFrequencySettings/PresentationForErrorCases/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/hooks/useGetPipelineToolInfoEffect.ts
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

Update README.md (#1604)
  README.md
Due: none

ADM-999 [frontend]: update the name in for the pipeline and repo in the doar metrics chart page
  frontend/src/containers/ReportStep/DoraMetricsChart/index.tsx
Due: check-building-for-frontend

ADM-999 [frontend]: fix the mark icon in the date picker in the metrics page
  frontend/src/context/stepper/StepperSlice.tsx
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationOrganizationEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-999 [frontend]: fix the multiple popup
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
Due: check-building-for-frontend

ADM-1006 [frontend]: update the name in for the pipeline and repo in the doar metrics chart page
  frontend/src/containers/ReportStep/DoraMetricsChart/index.tsx
Due: check-building-for-frontend

ADM-1006 [frontend]: fix the mark icon in the date picker in the metrics page
  frontend/src/context/stepper/StepperSlice.tsx
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationOrganizationEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-1006 [frontend]: fix the multiple popup
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
Due: check-building-for-frontend

ADM-1006 [frontend]: fix the bug about retry
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlConfiguration.test.tsx
  frontend/src/components/Metrics/MetricsStep/DeploymentFrequencySettings/PresentationForErrorCases/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/hooks/useGetPipelineToolInfoEffect.ts
  frontend/src/hooks/useGetSourceControlConfigurationOrganizationEffect.tsx
Due: check-building-for-frontend

ADM-1006 [frontend]: fix the bug not call get repo api when retry
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlMetricSelection.test.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/context/config/configSlice.ts
Due: check-building-for-frontend

ADM-1006 [frontend]: fix test and test coverage
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlMetricSelection.test.tsx
  frontend/__tests__/context/configSlice.test.ts
Due: check-building-for-frontend

ADM-1006 [frontend]: fix e2e test
  frontend/e2e/fixtures/create-new/board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/board-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/board-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240826-20240902.csv
  frontend/e2e/fixtures/import-file/board-data-with-analysis-board-status.csv
Due: check-building-for-frontend

ADM-1006 [frontend]: fix trivy
  .trivyignore
Due: none

ADM-1006 [frontend]: fix sonar issues
  frontend/src/context/config/configSlice.ts
  frontend/src/hooks/useGetPipelineToolInfoEffect.ts
  frontend/src/hooks/useGetSourceControlConfigurationOrganizationEffect.tsx
Due: check-building-for-frontend

ADM-1006 [frontend]: fix the gitleaks
  .github/workflows/build-and-deploy.yml
Due: none

ADM-1006 [frontend]: try to test gitleaks
  .github/workflows/build-and-deploy.yml
Due: none

ADM-1006 [frontend]: fix gitleaks
  .github/workflows/build-and-deploy.yml
Due: none

ADM-1006 [frontend]: update the name in for the pipeline and repo in the doar metrics chart page (#1608)
  .github/workflows/build-and-deploy.yml
  .trivyignore
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlConfiguration.test.tsx
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlMetricSelection.test.tsx
  frontend/__tests__/context/configSlice.test.ts
  frontend/e2e/fixtures/create-new/board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/board-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/board-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240826-20240902.csv
  frontend/e2e/fixtures/import-file/board-data-with-analysis-board-status.csv
  frontend/src/components/Metrics/MetricsStep/DeploymentFrequencySettings/PresentationForErrorCases/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/containers/ReportStep/DoraMetricsChart/index.tsx
  frontend/src/context/config/configSlice.ts
  frontend/src/context/stepper/StepperSlice.tsx
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationOrganizationEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ignore the action after install
  .github/workflows/Release.yaml
Due: none

ADM-1009 [frontend]: fix the 4xx error
  frontend/src/hooks/useGetMetricsStepsEffect.ts
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-1009 [frontend]: fix test
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationCrewEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
Due: check-building-for-frontend

ADM-1009 [frontend]: fix trivy
  .trivyignore
Due: none

ADM-1009 [frontend]: fix the code because the code may be string type
  frontend/src/hooks/useGetMetricsStepsEffect.ts
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-1009 [frontend]: fix comments
  frontend/__tests__/hooks/useGetMetricsStepsEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationCrewEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/src/clients/sourceControl/dto/response.ts
  frontend/src/hooks/useGetMetricsStepsEffect.ts
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-1009 [frontend]: fix comments
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
Due: check-building-for-frontend

ADM-1009 [frontend]: fix the 4xx error (#1609)
  .trivyignore
  frontend/__tests__/hooks/useGetMetricsStepsEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationCrewEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/src/clients/sourceControl/dto/response.ts
  frontend/src/hooks/useGetMetricsStepsEffect.ts
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend

ADM-1000 [frontend]: show source control configuration when pipeline tool select buildkite
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/containers/MetricsStep/index.tsx
Due: check-building-for-frontend

ADM-1000 [frontend]: add test for source control configuration when pipeline tool select buildkite
  frontend/__tests__/containers/MetricsStep/MetricsStep.test.tsx
Due: check-building-for-frontend

ADM-1000 [backend]: add repo name in the pipeline info api
  backend/src/main/java/heartbeat/controller/pipeline/dto/response/Pipeline.java
  backend/src/main/java/heartbeat/controller/pipeline/dto/response/PipelineTransformer.java
Due: check-building-for-backend

ADM-1000 [backend]: finish test for repo name in the pipeline info api
  backend/src/test/java/heartbeat/controller/pipeline/dto/response/PipelineTransformerTest.java
Due: check-building-for-backend

ADM-1000 [backend]: format
  backend/src/test/java/heartbeat/controller/pipeline/dto/response/PipelineTransformerTest.java
Due: check-building-for-backend

ADM-1000 [backend]: update repoName data
  backend/src/main/java/heartbeat/controller/pipeline/dto/response/PipelineTransformer.java
  backend/src/test/java/heartbeat/controller/pipeline/dto/response/PipelineTransformerTest.java
Due: check-building-for-backend

ADM-1000 [frontend]: add repo name for pipeline configuration in the metrics page
  frontend/src/containers/MetricsStep/DeploymentFrequencySettings/PipelineMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/DeploymentFrequencySettings/index.tsx
  frontend/src/context/Metrics/metricsSlice.ts
  frontend/src/context/config/pipelineTool/verifyResponseSlice.ts
Due: check-building-for-frontend
