Repository au-heartbeat/HeartBeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-building-for-frontend, check-building-for-backend

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]

repos:
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: sh -c 'cd frontend && npm run lint'
        language: system
        stages:
          - pre-commit
      - id: ts-file-check
        name: TSC file check
        entry: sh -c 'cd frontend && npm run tsc-file-check'
        language: system
        stages:
          - pre-commit
      - id: ts-type-check
        name: TS type check
        entry: sh -c 'cd frontend && npm run type-check'
        language: system
        stages:
          - pre-commit
      - id: px-check
        name: px check
        entry: ./ops/check.sh px
        language: script
        stages:
          - pre-commit
      - id: rgba-check
        name: rgba check
        entry: ./ops/check.sh rgba
        language: script
        stages:
          - pre-commit
      - id: hex-check
        name: hex check
        entry: ./ops/check.sh hex
        language: script
        stages:
          - pre-commit
      - id: prettier
        name: Prettier
        entry: sh -c 'cd frontend && npx prettier --check .'
        language: system
        stages:
          - pre-commit
      - id: test-check
        name: Test coverage for the whole project
        entry: sh -c 'cd frontend && pnpm run coverage:silent'
        language: system
        pass_filenames: false
        require_serial: true
        stages:
          - pre-push
      - id: audit-check
        name: Vulnerability check
        entry: sh -c 'cd frontend && pnpm run audit'
        language: system
        pass_filenames: false
        stages:
          - pre-push
      - id: license-check
        name: License compliance check
        entry: sh -c 'cd frontend && pnpm run license-compliance'
        language: system
        pass_filenames: false
        stages:
          - pre-push
      - id: tag-check
        name: tag check
        entry: ./ops/git-hooks/pre-tag.sh
        language: script
        stages:
          - pre-push
      - id: check-building-for-frontend
        name: Check building for frontend
        entry: ./ops/git-hooks/build-check.sh frontend
        files: ^frontend/
        language: script
        pass_filenames: false
        require_serial: true
        stages:
          - pre-push
      - id: check-building-for-backend
        name: Check building for backend
        entry: ./ops/git-hooks/build-check.sh backend
        files: ^backend/
        language: script
        pass_filenames: false
        require_serial: true
        stages:
          - pre-push

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
        exclude: ops/infra/cloudformation.yml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks
        stages:
          - pre-commit

ADM-1007 [frontend]: fix the bug ahout previous button in the report summary page
  frontend/src/containers/ReportStep/ReportContent/index.tsx
Due: check-building-for-frontend

ADM-1007 [frontend]: fix test coverage
  frontend/__tests__/containers/ReportStep/ReportStep.test.tsx
Due: check-building-for-frontend

ADM-1007 [frontend]: update the logic for trend calculation
  frontend/__tests__/utils/Util.test.tsx
  frontend/src/utils/util.ts
Due: check-building-for-frontend

ADM-1007 [frontend]: fix the bug ahout previous button in the report summary page (#1617)
  frontend/__tests__/containers/ReportStep/ReportStep.test.tsx
  frontend/__tests__/utils/Util.test.tsx
  frontend/src/containers/ReportStep/ReportContent/index.tsx
  frontend/src/utils/util.ts
Due: check-building-for-frontend

ADM-1007 [frontend]: fix the bug that the dora chart index doesn't update
  frontend/src/containers/ReportStep/ReportContent/index.tsx
Due: check-building-for-frontend

ADM-1007 [frontend]: update to previous page when click previous button
  frontend/src/containers/ReportStep/ReportContent/index.tsx
Due: check-building-for-frontend

ADM-1007 [frontend]: ignore trivy
  .trivyignore
Due: none

ADM-1007 [frontend]: fix the bug that the dora chart index doesn't update (#1621)
  .trivyignore
  frontend/src/containers/ReportStep/ReportContent/index.tsx
Due: check-building-for-frontend

release new version 1.3.1
  backend/src/main/java/heartbeat/config/CacheConfig.java
  backend/src/main/resources/application.yml
Due: check-building-for-backend

release new version 1.3.1 (#1622)
  backend/src/main/java/heartbeat/config/CacheConfig.java
  backend/src/main/resources/application.yml
Due: check-building-for-backend

fix the bug about thread pool
  backend/src/main/java/heartbeat/config/ThreadPoolConfig.java
Due: check-building-for-backend

fix the bug about thread pool (#1623)[backend]
  backend/src/main/java/heartbeat/config/ThreadPoolConfig.java
Due: check-building-for-backend

fix the bug about thread pool
  backend/src/main/resources/application.yml
Due: check-building-for-backend

[backend]: adjust the thread pool
  backend/src/main/java/heartbeat/config/ThreadPoolConfig.java
Due: check-building-for-backend

[backend]: adjust the thread pool (#1624)
  backend/src/main/java/heartbeat/config/ThreadPoolConfig.java
Due: check-building-for-backend

[backend] adjust the thread pool size with the numbers of the CPU
  backend/src/main/java/heartbeat/config/ThreadPoolConfig.java
Due: check-building-for-backend

[backend] 2x size for the pool
  backend/src/main/java/heartbeat/config/ThreadPoolConfig.java
Due: check-building-for-backend

[backend]ignore Vulnerability
  .trivyignore
Due: none

[backend] adjust the thread pool size with the numbers of the CPU (#1625)
  .trivyignore
  backend/src/main/java/heartbeat/config/ThreadPoolConfig.java
Due: check-building-for-backend

[backend] fix e2e test
  frontend/e2e/fixtures/create-new/report-result.ts
Due: check-building-for-frontend

[backend]skip e2e
  frontend/e2e/specs/major-path/import-project-from-file.spec.ts
Due: check-building-for-frontend

[backend]uddate trivy source
  .github/workflows/build-and-deploy.yml
Due: none

[backend]ignore trivy scan
  .github/workflows/build-and-deploy.yml
Due: none

[frontend] change the config name of downloading
  frontend/__tests__/containers/MetricsStepper/MetricsStepper.test.tsx
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

format
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

[frontend] change the Config name of downloading (#1642)
  frontend/__tests__/containers/MetricsStepper/MetricsStepper.test.tsx
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

fix: add some ut
  frontend/__tests__/containers/ConfigStep/Form/schema.test.ts
  frontend/__tests__/containers/ConfigStep/SourceControl.test.tsx
Due: check-building-for-frontend

feat: handle edge cases
  backend/src/main/java/heartbeat/controller/source/SourceController.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
  frontend/__tests__/containers/ConfigStep/SourceControl.test.tsx
  frontend/__tests__/hooks/useVerifySourceControlTokenEffect.test.tsx
  frontend/src/constants/resources.ts
  frontend/src/containers/ConfigStep/Form/literal.ts
  frontend/src/containers/ConfigStep/Form/type.ts
  frontend/src/containers/MetricsStep/PipelineConfiguration/BranchSelection/BranchChip/index.tsx
  frontend/src/hooks/useVerifySourceControlTokenEffect.ts
Due: check-building-for-frontend, check-building-for-backend

test: add/ignore test cases
  backend/src/main/java/heartbeat/service/report/PipelineService.java
  frontend/__tests__/containers/ConfigStep/SourceControl.test.tsx
  frontend/src/containers/ConfigStep/SourceControl/index.tsx
Due: check-building-for-frontend, check-building-for-backend

chore: upgrade deps
  frontend/__tests__/containers/MetricsStep/ReworkSettings/ReworkDialog.test.tsx
  frontend/__tests__/containers/MetricsStepper/MetricsStepper.test.tsx
  frontend/__tests__/hooks/useGenerateReportEffect.test.tsx
  frontend/__tests__/hooks/useVerifyBoardEffect.test.tsx
  frontend/e2e/fixtures/test-with-extend-fixtures.ts
  frontend/jest.config.json
  frontend/jest.polyfills.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Common/EllipsisText/index.tsx
  frontend/src/containers/MetricsStep/Classification/index.tsx
  frontend/src/containers/MetricsStep/CycleTime/Table/style.tsx
  frontend/src/containers/MetricsStep/RealDone/index.tsx
  frontend/src/containers/ReportStep/DoraMetrics/index.tsx
  frontend/src/containers/ReportStep/ExpiredDialog/index.tsx
  frontend/src/errors/index.ts
  frontend/tsconfig.json
Due: check-building-for-frontend

fix: git enterprise host
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
Due: check-building-for-backend

feat: add pipeline title and pr title
  backend/src/main/java/heartbeat/client/dto/codebase/github/LeadTime.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/PullRequestInfo.java
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeInfo.java
  backend/src/main/java/heartbeat/service/report/CSVFileGenerator.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/report/CSVFileGeneratorTest.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
Due: check-building-for-backend

fix: disable audit-ci for better deps manage
  .github/workflows/build-and-deploy.yml
  .pre-commit-config.yaml
  ops/check.sh
Due: none

test: ignore some line
  frontend/src/containers/ReportStep/BoardMetricsChart/ClassificationChart/index.tsx
Due: check-building-for-frontend

feat: enable mise to control the langauage version
  backend/mise.toml
  frontend/mise.toml
  frontend/pnpm-workspace.yaml
Due: check-building-for-frontend, check-building-for-backend

fix: FOSSA
  .github/workflows/build-and-deploy.yml
Due: none

fix: ut & java version
  .pre-commit-config.yaml
  backend/mise.toml
  frontend/__tests__/containers/ConfigStep/Form/schema.test.ts
  frontend/__tests__/containers/ConfigStep/SourceControl.test.tsx
Due: check-building-for-frontend, check-building-for-backend

fix: security
  frontend/__tests__/containers/ConfigStep/Form/schema.test.ts
Due: check-building-for-frontend
