Repository au-heartbeat/HeartBeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-building-for-frontend, check-building-for-backend

check-building-for-frontend:
  name: Check building for frontend
  entry: ./ops/git-hooks/build-check.sh frontend
  language: script
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

check-building-for-backend:
  name: Check building for backend
  entry: ./ops/git-hooks/build-check.sh backend
  language: script
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

ADM-1003 [backend]: update metrics csv file
  backend/src/main/java/heartbeat/controller/report/dto/response/AvgLeadTimeForChanges.java
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeForChangesOfPipelines.java
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeForChangesOfSourceControl.java
  backend/src/main/java/heartbeat/service/report/CSVFileGenerator.java
  backend/src/test/java/heartbeat/service/report/CSVFileGeneratorTest.java
  backend/src/test/java/heartbeat/service/report/MetricCsvFixture.java
Due: check-building-for-backend

ADM-1003 [backend]: fix crew bug
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
Due: check-building-for-backend

ADM-1003 [backend]: update the pipeline csv file
  backend/src/main/java/heartbeat/client/dto/codebase/github/CommitInfo.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/LeadTime.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/SourceControlLeadTime.java
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeInfo.java
  backend/src/main/java/heartbeat/controller/report/dto/response/PipelineCSVInfo.java
  backend/src/main/java/heartbeat/service/report/CSVFileGenerator.java
  backend/src/main/java/heartbeat/service/report/GenerateReporterService.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/report/CSVFileGeneratorTest.java
  backend/src/test/java/heartbeat/service/report/GenerateReporterServiceTest.java
  backend/src/test/java/heartbeat/service/report/PipelineCsvFixture.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
Due: check-building-for-backend

ADM-1003 [backend][frontend]: fix sonar issues
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeForChangesOfPipelines.java
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend, check-building-for-backend

ADM-1003 [frontend]: fix comments
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

ADM-1003 [frontend]: fix sonar issues
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

ADM-1003 [frontend]: fix e2e test
  frontend/e2e/fixtures/create-new/board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/board-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/board-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/pipeline-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/pipeline-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/pipeline-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240826-20240902.csv
  frontend/e2e/fixtures/import-file/board-data-with-analysis-board-status.csv
  frontend/e2e/fixtures/import-file/chart-step-data.ts
  frontend/e2e/fixtures/import-file/pipeline-with-holiday-data.csv
Due: check-building-for-frontend

ADM-1003 [frontend]: fix e2e test
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-metric-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-metric-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-metric-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-pipeline-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-pipeline-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-pipeline-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-metric-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-metric-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-metric-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-pipeline-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-pipeline-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-pipeline-20240826-20240902.csv
  frontend/e2e/fixtures/import-file/select-none-config.ts
  frontend/e2e/pages/metrics/report-step.ts
  frontend/e2e/specs/major-path/create-a-new-project.spec.ts
  frontend/e2e/specs/major-path/import-project-from-file.spec.ts
Due: check-building-for-frontend

ADM-1003 [backend]: fix backend test
  backend/src/test/java/heartbeat/service/report/GenerateReporterServiceTest.java
Due: check-building-for-backend

Revert "ADM-1003 [backend]: fix backend test"
  backend/src/test/java/heartbeat/service/report/GenerateReporterServiceTest.java
Due: check-building-for-backend

ADM-1003 [backend]: fix backend test (#1600)
  backend/src/test/java/heartbeat/service/report/GenerateReporterServiceTest.java
Due: check-building-for-backend

Create 20240906.md (#1591)[frontend][backend]
  release-notes/20240906.md
Due: none

ADM-1003 [backend]: feat: get lead time data for source control
  backend/src/main/java/heartbeat/client/GitHubFeignClient.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/LeadTime.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/PagePullRequestInfo.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/PullRequestInfo.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/PullRequestInfoDTO.java
  backend/src/main/java/heartbeat/config/CacheConfig.java
  backend/src/main/java/heartbeat/controller/report/dto/request/CodeBase.java
  backend/src/main/java/heartbeat/controller/report/dto/request/CodebaseSetting.java
  backend/src/main/java/heartbeat/service/pipeline/buildkite/CachePageService.java
  backend/src/main/java/heartbeat/service/report/GenerateReporterService.java
  backend/src/main/java/heartbeat/service/report/calculator/model/FetchedData.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/main/java/heartbeat/service/source/github/model/PullRequestFinishedInfo.java
  backend/src/test/java/heartbeat/service/pipeline/buildkite/CachePageServiceTest.java
  backend/src/test/java/heartbeat/service/report/GenerateReporterServiceTest.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
  docs/src/content/docs/en/spikes/tech-spikes-github-api-for-pull-request-info-by-token.mdx
Due: check-building-for-backend

ADM-1003 [frontend]: fix: fix the next button in the metrics page
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

ADM-1003 [frontend]: fix: fix the request in the report page
  frontend/__tests__/fixtures.ts
  frontend/src/clients/report/dto/request.ts
  frontend/src/containers/ReportStep/index.tsx
Due: check-building-for-frontend

ADM-1003 [backend]: test: fix backend test
  backend/src/main/java/heartbeat/client/dto/codebase/github/PullRequestInfo.java
  backend/src/main/java/heartbeat/service/report/GenerateReporterService.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
Due: check-building-for-backend

ADM-1003 [backend]: feat: change the structure for repo data
  backend/src/main/java/heartbeat/client/dto/codebase/github/SourceControlLeadTime.java
  backend/src/main/java/heartbeat/service/report/calculator/model/FetchedData.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/report/GenerateReporterServiceTest.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
Due: check-building-for-backend

ADM-999 [frontend][backend]: fix the error path (#1598)
  backend/src/main/java/heartbeat/service/pipeline/buildkite/CachePageService.java
  backend/src/test/java/heartbeat/service/pipeline/buildkite/CachePageServiceTest.java
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlConfiguration.test.tsx
  frontend/__tests__/containers/MetricsStep/SourceControlConfiguration/SourceControlMetricSelection.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationBranchEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationCrewEffect.test.tsx
  frontend/__tests__/hooks/useGetSourceControlConfigurationRepoEffect.test.tsx
  frontend/src/constants/resources.ts
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/index.tsx
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationCrewEffect.tsx
  frontend/src/hooks/useGetSourceControlConfigurationRepoEffect.tsx
Due: check-building-for-frontend, check-building-for-backend

ADM-1003 [backend]: feat: re-calculate lead time for changes with source control data
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeForChanges.java
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeForChangesOfSourceControl.java
  backend/src/main/java/heartbeat/service/report/GenerateReporterService.java
  backend/src/main/java/heartbeat/service/report/calculator/LeadTimeForChangesCalculator.java
  backend/src/main/java/heartbeat/service/report/calculator/model/AverageLeadTime.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/report/calculator/CalculateLeadTimeForChangesTest.java
Due: check-building-for-backend

ADM-1003 [backend]: style: format
  backend/src/test/java/heartbeat/service/report/calculator/CalculateLeadTimeForChangesTest.java
Due: check-building-for-backend

ADM-1003 [backend]: feat: save source control data to file for share api
  backend/src/main/java/heartbeat/controller/report/dto/response/ShareApiDetailsResponse.java
  backend/src/main/java/heartbeat/service/report/ReportService.java
  backend/src/main/java/heartbeat/service/report/SavedRequestInfo.java
  backend/src/test/java/heartbeat/service/report/ReportServiceTest.java
Due: check-building-for-backend

ADM-1003 [frontend]: feat: change the frontend content and style
  frontend/__tests__/components/Common/ReportGrid/ReportCard.test.tsx
  frontend/__tests__/containers/ReportStep/DoraMetrics.test.tsx
  frontend/__tests__/containers/ReportStep/ReportDetail/dora.test.tsx
  frontend/__tests__/containers/ReportStep/ReportStep.test.tsx
  frontend/__tests__/fixtures.ts
  frontend/__tests__/hooks/reportMapper/leadTimeForChanges.test.tsx
  frontend/src/clients/report/ReportClient.ts
  frontend/src/clients/report/dto/response.ts
  frontend/src/components/Common/ReportDetailTableContainsSubtitle/index.tsx
  frontend/src/components/Common/ReportGrid/ReportCard/index.tsx
  frontend/src/components/Common/ReportGrid/ReportCardItem/index.tsx
  frontend/src/components/Common/ReportGrid/index.tsx
  frontend/src/constants/resources.ts
  frontend/src/containers/ReportStep/DoraMetrics/index.tsx
  frontend/src/containers/ReportStep/DoraMetricsChart/index.tsx
  frontend/src/containers/ReportStep/ReportContent/index.tsx
  frontend/src/containers/ReportStep/ReportDetail/dora.tsx
  frontend/src/containers/ReportStep/index.tsx
  frontend/src/containers/ShareReport/index.tsx
  frontend/src/hooks/reportMapper/leadTimeForChanges.ts
  frontend/src/hooks/useShareReportEffect.ts
Due: check-building-for-frontend

ADM-1003 [backend]: feat: update metrics csv file and refactor
  backend/src/main/java/heartbeat/controller/report/dto/response/AvgLeadTimeForChanges.java
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeForChangesOfPipelines.java
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeForChangesOfSourceControl.java
  backend/src/main/java/heartbeat/service/report/CSVFileGenerator.java
  backend/src/test/java/heartbeat/service/report/CSVFileGeneratorTest.java
  backend/src/test/java/heartbeat/service/report/MetricCsvFixture.java
Due: check-building-for-backend

ADM-1003 [backend]: fix: fix crew bug when the crew is empty
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
Due: check-building-for-backend

ADM-1003 [backend]: feat: update the pipeline csv file
  backend/src/main/java/heartbeat/client/dto/codebase/github/CommitInfo.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/LeadTime.java
  backend/src/main/java/heartbeat/client/dto/codebase/github/SourceControlLeadTime.java
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeInfo.java
  backend/src/main/java/heartbeat/controller/report/dto/response/PipelineCSVInfo.java
  backend/src/main/java/heartbeat/service/report/CSVFileGenerator.java
  backend/src/main/java/heartbeat/service/report/GenerateReporterService.java
  backend/src/main/java/heartbeat/service/source/github/GitHubService.java
  backend/src/test/java/heartbeat/service/report/CSVFileGeneratorTest.java
  backend/src/test/java/heartbeat/service/report/GenerateReporterServiceTest.java
  backend/src/test/java/heartbeat/service/report/PipelineCsvFixture.java
  backend/src/test/java/heartbeat/service/source/github/GithubServiceTest.java
Due: check-building-for-backend

ADM-1003 [backend][frontend]: fix: fix sonar issues
  backend/src/main/java/heartbeat/controller/report/dto/response/LeadTimeForChangesOfPipelines.java
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend, check-building-for-backend

ADM-1003 [frontend]: fix: fix comments
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

ADM-1003 [frontend]: fix: fix sonar issues
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

ADM-1003 [frontend]: test: fix e2e test
  frontend/e2e/fixtures/create-new/board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/board-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/board-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/pipeline-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/pipeline-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/pipeline-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240826-20240902.csv
  frontend/e2e/fixtures/import-file/board-data-with-analysis-board-status.csv
  frontend/e2e/fixtures/import-file/chart-step-data.ts
  frontend/e2e/fixtures/import-file/pipeline-with-holiday-data.csv
Due: check-building-for-frontend

ADM-1003 [frontend]: test: add e2e test content for lead time for changes of source control in the report page
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-metric-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-metric-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-metric-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-pipeline-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-pipeline-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/with-only-source-control-lead-time-pipeline-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-metric-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-metric-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-metric-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-pipeline-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-pipeline-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/with-source-control-lead-time-pipeline-20240826-20240902.csv
  frontend/e2e/fixtures/import-file/select-none-config.ts
  frontend/e2e/pages/metrics/report-step.ts
  frontend/e2e/specs/major-path/create-a-new-project.spec.ts
  frontend/e2e/specs/major-path/import-project-from-file.spec.ts
Due: check-building-for-frontend

ADM-1003 [backend]: change version
  backend/src/main/resources/application.yml
Due: check-building-for-backend

Update and rename 20240906.md to 20240911.md
  release-notes/20240911.md
Due: none

fix-e2e [frontend]: fix e2e
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/import-file/metric-with-holiday-data.csv
  frontend/e2e/fixtures/import-file/pipeline-with-holiday-data.csv
  frontend/e2e/fixtures/input-files/calculate-with-holiday-config-file.template.json
Due: check-building-for-frontend

fix-e2e [frontend]: fix e2e (#1603)
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/import-file/metric-with-holiday-data.csv
  frontend/e2e/fixtures/import-file/pipeline-with-holiday-data.csv
  frontend/e2e/fixtures/input-files/calculate-with-holiday-config-file.template.json
Due: check-building-for-frontend

Update and rename 20240906.md to 20240911.md (#1602)
  release-notes/20240911.md
Due: none

Update README.md
  README.md
Due: none

fix-e2e-1 [frontend]: fix e2e
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240819-20240825.csv
  frontend/e2e/fixtures/import-file/calculate-with-holiday-config-file.ts
  frontend/e2e/fixtures/import-file/metric-with-holiday-data.csv
  frontend/e2e/fixtures/import-file/pipeline-with-holiday-data.csv
  frontend/e2e/fixtures/input-files/calculate-with-holiday-config-file.template.json
  frontend/e2e/pages/metrics/report-step.ts
  frontend/e2e/specs/major-path/import-project-from-file.spec.ts
  frontend/e2e/utils/download.ts
  frontend/scripts/generate-config-files.sh
Due: check-building-for-frontend

Path conditions:
  check-building-for-frontend: any of: ^frontend/
  check-building-for-backend: any of: ^backend/
