Repository au-heartbeat/HeartBeat: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-building-for-frontend, check-building-for-backend

check-building-for-frontend:
  name: Check building for frontend
  entry: ./ops/git-hooks/build-check.sh frontend
  language: script
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

check-building-for-backend:
  name: Check building for backend
  entry: ./ops/git-hooks/build-check.sh backend
  language: script
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

ADM-1000 [frontend]: fix test
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/DeploymentFrequencySettings.test.tsx
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/PipelineMetricSelection.test.tsx
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/PipelineMetricSelectionPopupTestPartialFailed.test.tsx
  frontend/__tests__/context/metricsSlice.test.ts
  frontend/__tests__/context/pipelineToolSlice.test.ts
  frontend/__tests__/hooks/useMetricsStepValidationCheckContext.test.tsx
  frontend/__tests__/utils/Util.test.tsx
Due: check-building-for-frontend

ADM-1000 [frontend]: fix test coverage
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/DeploymentFrequencySettings.test.tsx
  frontend/__tests__/context/metricsSlice.test.ts
Due: check-building-for-frontend

ADM-1000 [frontend]: disable repo name in the source control settings when pipeline configuration select repo name
  frontend/src/containers/MetricsStep/DeploymentFrequencySettings/SingleSelection/index.tsx
  frontend/src/utils/util.ts
Due: check-building-for-frontend

ADM-1000 [frontend]: fix test
  frontend/__tests__/utils/Util.test.tsx
  frontend/src/utils/util.ts
Due: check-building-for-frontend

ADM-1000 [frontend]: adjust the logic for the next button in the metrics page
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

ADM-1000 [frontend]: fix test
  frontend/__tests__/containers/MetricsStepper/MetricsStepper.test.tsx
Due: check-building-for-frontend

ADM-1000 [backend]: fix sonar issues
  backend/src/test/java/heartbeat/controller/pipeline/dto/response/PipelineTransformerTest.java
Due: check-building-for-backend

ADM-1000 [frontend]: fix sonar issues
  frontend/src/containers/MetricsStep/DeploymentFrequencySettings/index.tsx
Due: check-building-for-frontend

ADM-1000 [frontend]: fix e2e test
  frontend/e2e/fixtures/create-new/board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/metrics-step.ts
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-metric-20240812-20240818.csv
  frontend/e2e/fixtures/import-file/board-data-with-analysis-board-status.csv
  frontend/e2e/fixtures/import-file/multiple-done-config-file.ts
  frontend/e2e/fixtures/import-file/select-none-config.ts
  frontend/e2e/fixtures/import-file/unhappy-path-file.ts
  frontend/e2e/pages/metrics/metrics-step.ts
  frontend/e2e/pages/metrics/report-step.ts
  frontend/e2e/specs/major-path/create-a-new-project.spec.ts
  frontend/e2e/specs/major-path/import-project-from-file.spec.ts
  frontend/e2e/specs/major-path/page-jumps.spec.ts
  frontend/e2e/specs/side-path/config-select-one-metrics.spec.ts
  frontend/e2e/specs/side-path/unhappy-path.spec.ts
Due: check-building-for-frontend

ADM-1000 [frontend]: refactor: rename the deployment settings in the state
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/DeploymentFrequencySettings.test.tsx
  frontend/__tests__/containers/ReportStep/ReportStep.test.tsx
  frontend/__tests__/context/metricsSlice.test.ts
  frontend/src/containers/MetricsStep/DeploymentFrequencySettings/PipelineMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/DeploymentFrequencySettings/SingleSelection/index.tsx
  frontend/src/containers/MetricsStep/DeploymentFrequencySettings/index.tsx
  frontend/src/containers/MetricsStepper/index.tsx
  frontend/src/containers/ReportStep/index.tsx
  frontend/src/context/Metrics/metricsSlice.ts
  frontend/src/hooks/useVerifyPipelineToolEffect.ts
  frontend/src/hooks/useVerifySourceControlTokenEffect.ts
Due: check-building-for-frontend

ADM-1000 [frontend]: refactor: rename the deployment frequency settings component
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/BranchSelection.test.tsx
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/DeploymentFrequencySettings.test.tsx
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/PipelineMetricSelection.test.tsx
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/PipelineMetricSelectionPopupTestPartialFailed.test.tsx
  frontend/__tests__/containers/MetricsStep/DeploymentFrequencySettings/SingleSelection.test.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/BranchSelection/BranchChip/index.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/BranchSelection/index.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/PipelineMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/PipelineMetricSelection/style.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/SingleSelection/index.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/SingleSelection/style.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlBranch/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/index.tsx
Due: check-building-for-frontend

ADM-1000 [frontend]: fix the bug of branch selection in the source control settings
  frontend/src/hooks/useGetSourceControlConfigurationBranchEffect.tsx
Due: check-building-for-frontend

ADM-1000 [frontend]: format and rename
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/BranchSelection.test.tsx
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/PipelineConfiguration.test.tsx
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/PipelineMetricSelection.test.tsx
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/PipelineMetricSelectionPopupTestPartialFailed.test.tsx
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/PresentationForErrorCases.test.tsx
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/SingleSelection.test.tsx
  frontend/__tests__/containers/MetricsStepper/MetricsStepper.test.tsx
  frontend/__tests__/containers/ReportStep/ReportStep.test.tsx
  frontend/__tests__/context/metricsSlice.test.ts
  frontend/src/containers/MetricsStep/PipelineConfiguration/PipelineMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/index.tsx
  frontend/src/context/Metrics/metricsSlice.ts
  frontend/src/hooks/useVerifyPipelineToolEffect.ts
Due: check-building-for-frontend

ADM-1000 [frontend]: fix test coverage
  frontend/__tests__/context/metricsSlice.test.ts
Due: check-building-for-frontend

ADM-1000 [frontend]: fix save config file
  frontend/src/containers/MetricsStepper/index.tsx
Due: check-building-for-frontend

ADM-1000 [frontend]: fix e2e test
  frontend/e2e/fixtures/create-new/board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-board-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/with-design-and-wait-for-deployment-metric-20240812-20240818.csv
  frontend/e2e/fixtures/import-file/board-data-with-analysis-board-status.csv
Due: check-building-for-frontend

ADM-1000 [frontend][backend]: fix comments
  backend/src/test/java/heartbeat/controller/pipeline/dto/response/PipelineTransformerTest.java
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/PipelineConfiguration.test.tsx
Due: check-building-for-frontend, check-building-for-backend

ADM-1000 [frontend]: fix sonar issues
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/PipelineConfiguration.test.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/BranchSelection/index.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/PipelineMetricSelection/index.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/SingleSelection/index.tsx
  frontend/src/containers/MetricsStep/PipelineConfiguration/index.tsx
  frontend/src/containers/MetricsStep/SouceControlConfiguration/SourceControlMetricSelection/index.tsx
  frontend/src/hooks/useVerifyPipelineToolEffect.ts
Due: check-building-for-frontend

ADM-1000 [frontend]: fix e2e test
  frontend/e2e/pages/metrics/metrics-step.ts
Due: check-building-for-frontend

ADM-1000 [frontend]: fix e2e test (#1611)
  frontend/e2e/pages/metrics/metrics-step.ts
Due: check-building-for-frontend

ADM-1010 [backend]: modify the bug of the story point sum is zero
  backend/src/main/java/heartbeat/service/report/calculator/ClassificationCalculator.java
  backend/src/test/java/heartbeat/service/report/calculator/ClassificationCalculatorTest.java
Due: check-building-for-backend

ADM-1010 [frontend]: update the classification story point chart when story point sum is zero
  frontend/src/containers/ReportStep/BoardMetricsChart/ClassificationChart/index.tsx
Due: check-building-for-frontend

ADM-1010 [frontend]: fix test coverage
  frontend/__tests__/containers/ReportStep/ReportStep.test.tsx
Due: check-building-for-frontend

ADM-1010 [frontend]: add retry times for unstable test
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/PipelineConfiguration.test.tsx
Due: check-building-for-frontend

ADM-1010 [frontend]: fix sonar issues
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/PipelineConfiguration.test.tsx
  frontend/src/containers/ReportStep/BoardMetricsChart/ClassificationChart/index.tsx
Due: check-building-for-frontend

ADM-1010 [frontend]: fix unstable test
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/PipelineConfiguration.test.tsx
Due: check-building-for-frontend

ADM-1010 [frontend][backend]: fix the bug when story point sum is zero (#1612)
  backend/src/main/java/heartbeat/service/report/calculator/ClassificationCalculator.java
  backend/src/test/java/heartbeat/service/report/calculator/ClassificationCalculatorTest.java
  frontend/__tests__/containers/MetricsStep/PipelineConfiguration/PipelineConfiguration.test.tsx
  frontend/__tests__/containers/ReportStep/ReportStep.test.tsx
  frontend/src/containers/ReportStep/BoardMetricsChart/ClassificationChart/index.tsx
Due: check-building-for-frontend, check-building-for-backend

ADM-1005 [frontend]: fix the bug when pipeline settings exist in the redux but user select Other in the pipeline configuration
  frontend/src/containers/ReportStep/index.tsx
Due: check-building-for-frontend

ADM-1005 [frontend]: fix test coverage
  frontend/__tests__/containers/ReportStep/ReportStep.test.tsx
Due: check-building-for-frontend

ADM-1005 [frontend][backend]: update the pipeline csv file
  backend/src/main/java/heartbeat/controller/pipeline/dto/request/DeploymentEnvironment.java
  backend/src/main/java/heartbeat/service/report/PipelineService.java
  frontend/src/clients/report/dto/request.ts
  frontend/src/containers/ReportStep/index.tsx
Due: check-building-for-frontend, check-building-for-backend

ADM-1005 [frontend][backend]: fix test
  frontend/__tests__/fixtures.ts
Due: check-building-for-frontend

ADM-1005 [frontend]: fix e2e test
  frontend/e2e/fixtures/create-new/pipeline-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/pipeline-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/pipeline-20240826-20240902.csv
Due: check-building-for-frontend

ADM-1005 [frontend]: add a test for with pipeline and source control configuration
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/create-new/with-pipeline-and-source-control-configuration-metric-20240801-20240814.csv
  frontend/e2e/fixtures/create-new/with-pipeline-and-source-control-configuration-metric-20240815-20240828.csv
  frontend/e2e/fixtures/create-new/with-pipeline-and-source-control-configuration-pipeline-20240801-20240814.csv
  frontend/e2e/fixtures/create-new/with-pipeline-and-source-control-configuration-pipeline-20240815-20240828.csv
  frontend/e2e/fixtures/import-file/chart-result.ts
  frontend/e2e/fixtures/import-file/with-pipeline-and-source-control-configuration-config-file.ts
  frontend/e2e/fixtures/input-files/lead-time-for-changes-with-pipeline-and-source-control-configuration.template.json
  frontend/e2e/pages/metrics/report-step.ts
  frontend/e2e/specs/major-path/import-project-from-file.spec.ts
  frontend/scripts/generate-config-files.sh
  frontend/src/containers/ReportStep/DoraMetricsChart/PipelineSelector/index.tsx
Due: check-building-for-frontend

ADM-1005 [frontend]: format
  frontend/e2e/fixtures/input-files/lead-time-for-changes-with-pipeline-and-source-control-configuration.template.json
Due: check-building-for-frontend

ADM-1005 [frontend][backend]: re-calculate lead time for changes when exist pipeline configuration and source control configuration (#1613)
  backend/src/main/java/heartbeat/controller/pipeline/dto/request/DeploymentEnvironment.java
  backend/src/main/java/heartbeat/service/report/PipelineService.java
  frontend/__tests__/containers/ReportStep/ReportStep.test.tsx
  frontend/__tests__/fixtures.ts
  frontend/e2e/fixtures/create-new/pipeline-20240812-20240818.csv
  frontend/e2e/fixtures/create-new/pipeline-20240819-20240825.csv
  frontend/e2e/fixtures/create-new/pipeline-20240826-20240902.csv
  frontend/e2e/fixtures/create-new/report-result.ts
  frontend/e2e/fixtures/create-new/with-pipeline-and-source-control-configuration-metric-20240801-20240814.csv
  frontend/e2e/fixtures/create-new/with-pipeline-and-source-control-configuration-metric-20240815-20240828.csv
  frontend/e2e/fixtures/create-new/with-pipeline-and-source-control-configuration-pipeline-20240801-20240814.csv
  frontend/e2e/fixtures/create-new/with-pipeline-and-source-control-configuration-pipeline-20240815-20240828.csv
  frontend/e2e/fixtures/import-file/chart-result.ts
  frontend/e2e/fixtures/import-file/with-pipeline-and-source-control-configuration-config-file.ts
  frontend/e2e/fixtures/input-files/lead-time-for-changes-with-pipeline-and-source-control-configuration.template.json
  frontend/e2e/pages/metrics/report-step.ts
  frontend/e2e/specs/major-path/import-project-from-file.spec.ts
  frontend/scripts/generate-config-files.sh
  frontend/src/clients/report/dto/request.ts
  frontend/src/containers/ReportStep/DoraMetricsChart/PipelineSelector/index.tsx
  frontend/src/containers/ReportStep/index.tsx
Due: check-building-for-frontend, check-building-for-backend

ADM-1005 [frontend][backend]: fix e2e test in the buildkite and github
  .github/workflows/build-and-deploy.yml
  ops/check.sh
Due: none

ADM-1005 [frontend][backend]: fix e2e test in the buildkite and github (#1614)
  .github/workflows/build-and-deploy.yml
  ops/check.sh
Due: none

Path conditions:
  check-building-for-frontend: any of: ^frontend/
  check-building-for-backend: any of: ^backend/
